{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>User Details</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#user_form').submit(function(e) {
            $(':disabled').each(function(e) {
                $(this).removeAttr('disabled');
            })
        });
    </script>
{% endblock %}